@font-face {
    font-family: Vazir;
    src: url(/assets/Vazir.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/assets/time_to_stfu.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Vazir;
    width: 100vw;
    height: 100vh;
}
.winner__cont{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: Vazir;
    font-size: 6rem;
    background-color: #000000cb;
    color: white;
    z-index: 999;
    text-shadow: 2.8px 5.6px 5.6px hsl(0deg 0% 0% / 0.41);
}
.game__cont{
    width: 100%;
    height: 100%;
    z-index: 900;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background-color: #000000cb;
}
.active{
    display: flex;
    animation: fade-in 300ms;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    width: 100%;
}
.cards__cont{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.card{
    height: 250px;
    width: 250px;
    box-shadow: 2.8px 5.6px 5.6px hsl(0deg 0% 0% / 0.41);
    transition: 500ms;
}
.enemy__card{
    transform: rotate(180deg);
    box-shadow: 3.9px -6.2px 12.8px hsl(0deg 0% 0% / 0.47);
}
.player__card{
    cursor: pointer;
}
.player__card:hover{
    box-shadow: 5.8px 5.6px 11.6px hsl(0deg 0% 0% / 0.41);
}
.score__board-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    text-shadow: 5.8px 5.6px 11.6px hsl(0deg 0% 0% / 0.41);
}
@keyframes fade-in{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}